<app-day-item [items]="forecast"></app-day-item>


<div *ngIf="isWeather">
  <div class="row">
    <div class="col-6 col-lg-4">
      <div class="card bg-white">
        <span class="tile-title">City
          <i class="fas fa-map-marker-alt"></i>
        </span>
        <span class="tile-content">{{weather.name}}</span>
      </div>

    </div>
    <div class="col-6 col-lg-4">
      <div class="card bg-white">
        <span class="tile-title">Temperature
          <i class="fas fa-thermometer-half"></i>
        </span>
        <span class="tile-content">{{ (9/5)*(weather.main.temp-273)+32 | number: '.1' }} &#8457;</span>
      </div>
    </div>
    <div class="col-6 col-lg-4">
      <div class="card bg-white">
        <span class="tile-title">Cloud
          <i class="fas fa-cloud"></i>
        </span>
        <span class="tile-content">{{weather.clouds.all}} %</span>
      </div>
    </div>

    <div class="col-6 col-lg-4">
      <div class="card bg-white">
        <span class="tile-title">Wind
          <i class="fas fa-location-arrow"></i>
        </span>
        <span class="tile-content">{{weather.wind.speed}}m/s{{' '}} {{weather.wind.deg}}&#176;</span>
      </div>
    </div>
    <div class="col-6 col-lg-4">
      <div class="card bg-white">
        <span class="tile-title">Wind
          <i class="fas fa-location-arrow"></i>
        </span>
        <span class="tile-content">
          <img src="http://openweathermap.org/img/w/{{weather.weather[0].icon}}.png" alt="">
        </span>
      </div>
    </div>
    <div class="col-6 col-lg-4">
      <div class="card bg-white">
        <span class="tile-title">Wind
          <i class="fas fa-location-arrow"></i>
        </span>
        <span class="tile-content">{{weather.wind.speed}} m/s{{' '}} {{weather.wind.deg}} &#176;</span>
      </div>
    </div>
  </div>

</div>