.tile-title {
  font-size: 12px;
  margin-top: 10px;
}

.tile-content {
  font-size: 17px;
  padding-top: 10px;
}

.tile-content img {
  width: 35px;
}

.bg-white {
  background-color: #273648 !important;
}

/* Small Devices */
@media (min-width: 576px) {
  .card {
    margin-top: 50px;
  }
  .tile-title {
    font-size: 12px;
  }
  .tile-content {
    font-size: 18px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .tile-title {
    font-size: 15px;
  }
  .tile-content {
    font-size: 19px;
  }
}

/* Large Devices */
@media (min-width: 992px) {
  .tile-title {
    font-size: 15px;
  }
  .tile-content {
    font-size: 21px;
  }
}